@inject IMediator Mediator
@rendermode InteractiveServer

@if (isOpen)
{
    <div class="modal fade show d-block" tabindex="-1" style="background-color: rgba(0,0,0,0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@((isEditMode ? "Modifică dispozitiv" : "Adaugă dispozitiv"))</h5>
                    <button type="button" class="btn-close" @onclick="Cancel"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Nume</label>
                        <input class="form-control" @bind="device.Name" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Interval Mesaj (min)</label>
                        <input class="form-control" type="number" @bind="device.MessageInterval" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Contact Email</label>
                        <input class="form-control" type="text" @bind="device.ContactEmail" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Temperatura necesara</label>
                        <input class="form-control" type="number" @bind="device.NeededTemperature" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Diapazon temperatura</label>
                        <input class="form-control" type="number" @bind="device.Diapazon" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Wifi SSID</label>
                        <input class="form-control" type="text" @bind="device.SSID" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Wifi Password</label>
                        <input class="form-control" type="password" @bind="device.SSID_Password" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="Cancel">Anulează</button>
                    <button class="btn btn-primary" @onclick="SaveAsync">Salvează</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public EventCallback OnDeviceSaved { get; set; }

    [Parameter] public DeviceModel? DeviceToEdit { get; set; }

    private DeviceModel device = new();
    private bool isOpen = false;
    private bool isEditMode = false;

    public void Open(DeviceModel? deviceToEdit = null)
    {
        if (deviceToEdit != null)
        {
            device = new DeviceModel
            {
                Id = deviceToEdit.Id,
                Name = deviceToEdit.Name,
                MessageInterval = deviceToEdit.MessageInterval,
                ContactEmail = deviceToEdit.ContactEmail,
                Diapazon = deviceToEdit.Diapazon, 
                NeededTemperature = deviceToEdit.NeededTemperature,
                SSID = deviceToEdit.SSID,
                SSID_Password = deviceToEdit.SSID_Password
            };
            isEditMode = true;
        }
        else
        {
            device = new DeviceModel();
            isEditMode = false;
        }
        isOpen = true;
        StateHasChanged();
    }

    private async Task SaveAsync()
    {

        await Mediator.Send(new AddOrEditDeviceCommand(device));
        isOpen = false;
        await OnDeviceSaved.InvokeAsync();
    }

    private void Cancel()
    {
        isOpen = false;
    }
}
